[Unit]
Description=for phobos del queue RQ Worker
After=network.target

[Service]
Type=simple
WorkingDirectory=/var/archive_utils/
User=root
Group=root
ExecStart=/usr/local/bin/rqworker phobosdel -u redis://default:aabbccddeeffgg@127.0.0.1
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=false
Restart=always

[Install]
WantedBy=multi-user.target
